variable "access_key" {
  description = "AWS Access Key "
  type        = string
  default     = ""
}

variable "secret_key" {
  description = "AWS Secret Key"
  type        = string
  default     = ""
}

variable "region" {
  description = "Name of the Region Instance to be Deployed"
  type        = string
  default     = "ap-south-1"
}

variable "short_project_name" {
  description = "Unique Project name in short"
  type        = string
  default     = "yir_ec2_apache_ssh_user"
}

variable "jump_server_instance_types" {
  description = "Name of the Instance required for the jump server"
  type        = string
  default     = "t2.micro"
}

variable "instance_types" {
  description = "Name of the Instance required for this cluster"
  type        = string
  default     = "t3.small"
}


variable "desired_size" {
  description = "Number of desired Instance required for this cluster"
  type        = number
  default     = "1"
}


variable "max_size" {
  description = "Number of Maximum Instance required for this cluster"
  type        = number
  default     = "1"
}


variable "min_size" {
  description = "Number of Minimum Instance required for this cluster"
  type        = number
  default     = "1"
}



variable "instance_count" {
  description = "Number of Instances required for this cluster"
  type        = number
  default     = "1"
}


variable "environment" {
  description = "Application running Namesspacce (Stages)"
  type        = string
  default     = "Dev"
}


variable "vpc_awseks_cidrblk" {
  description = "VPC CIDR Range"
  type        = string
  default     = "121.0.0.0/16"
}

variable "cidr_private_subnet1" {
  description = "Private Subnet 1, CIDR Range"
  type        = string
  default     = "121.0.1.0/24"
}


variable "cidr_private_subnet2" {
  description = "Private Subnet 2, CIDR Range"
  type        = string
  default     = "121.0.2.0/24"
}


variable "cidr_public_subnet1" {
  description = "Public Subnet 1, CIDR Range"
  type        = string
  default     = "121.0.3.0/24"
}


variable "cidr_public_subnet2" {
  description = "Public Subnet 2, CIDR Range"
  type        = string
  default     = "121.0.4.0/24"
}